$theme-colors: (
  "primary": #521751,
  "danger": #b80c03
);

$border-radius: 10rem;

// importing the full bootstrap scss file
// @import "node_modules/bootstrap/scss/bootstrap";

// importing just the component of the bootstrap

// Required
@import "node_modules/bootstrap/scss/functions";
@import "node_modules/bootstrap/scss/variables";
@import "node_modules/bootstrap/scss/mixins";

// Optional
@import "node_modules/bootstrap/scss/reboot";
@import "node_modules/bootstrap/scss/type";
@import "node_modules/bootstrap/scss/grid";
@import "node_modules/bootstrap/scss/nav";
@import "node_modules/bootstrap/scss/navbar";
@import "node_modules/bootstrap/scss/utilities";
@import "node_modules/bootstrap/scss/transitions";
@import "node_modules/bootstrap/scss/buttons";
@import "node_modules/bootstrap/scss/forms";


.form-container {
    width: 50%;
    margin: auto;
    height: 100vh;
}

@media( max-width: 800px ) {
    .form-container {
        width: 90% !important;
        margin: 2rem auto !important;
    }
}